.past-events {
    background-color: white;
    /* height: 770px; */
    padding-bottom: 10rem;

    .h2-subtitle {
        color: var(--clr-primary-500);
        padding: 4.7rem;
        padding-top: 9rem;
        font-size: 45px;
        font-weight: bold;
    }
}

.card-container {
    display: flex;
    justify-content: space-evenly;

    h3 {
        color: var(--clr-primary-500);
        padding-top: 2rem;
        font-size: 35px;
    }

}