:root {
  --clr-primary-300: white;
  --clr-primary-400: #707070;
  --clr-primary-500: #000f08;
  --clr-neutral-400: #b36b01;
  --clr-neutral-600: #a4452c;
}

body {
  font-family: 'Open Sans';
  font-size: 1.563rem;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

.h1-title {
  color: var(--clr-primary-300);
}

.h2-subtitle {
  color: var(--clr-primary-300);
}

footer {
  background-color: var(--clr-primary-500);
}

footer .h3-subtitle {
  color: var(--clr-primary-300);
  font-weight: 300;
  font-size: 25px;
  padding-bottom: 1.7rem;
}

.contact-container-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 6.5rem;
  padding-bottom: 2.875rem;
  gap: 3rem;
}

.footer-svg {
  background-color: var(--clr-primary-300);
  border-radius: 16px;
  padding: 0.5rem;
  width: 4.25rem;
  stroke: var(--clr-primary-300);
}

header {
  background-color: var(--clr-primary-500);
}

header nav {
  margin-left: 4rem;
  height: 99px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
}

header li {
  padding: 2rem;
}

header a {
  font-family: 'Open Sans';
  font-weight: 300;
  color: var(--clr-primary-300);
  text-decoration: none;
  letter-spacing: 0.25px;
}

.logo {
  fill: var(--clr-primary-300);
  width: 44px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 422px;
  background-image: url(images/bg-hero.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero .h1-title {
  text-align: right;
  font-size: 3.75rem;
  margin-top: 52px;
  margin-right: 12rem;
  margin-left: 30rem;
}

.hero .h2-subtitle {
  text-align: right;
  font-size: 2.5rem;
  margin-right: 12rem;
}

@media (max-width: 1280px) {
  .hero {
    height: 35vh;
  }
  .hero .h1-title {
    font-size: 3rem;
    margin-right: 6rem;
  }
  .hero .h2-subtitle {
    text-align: right;
    font-size: 2.5rem;
    margin-right: 6rem;
  }
}

.next-talk {
  background-color: var(--clr-neutral-600);
  /* height: 500px; */
}

.next-talk p {
  color: var(--clr-primary-300);
  font-weight: 200;
}

.next-talk .h3-subtitle {
  color: var(--clr-primary-300);
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 200;
}

.container-flex {
  width: 75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7rem;
  margin: 0 auto;
}

.subtext {
  color: var(--clr-primary-300);
  font-size: 20px;
  font-weight: 300;
  margin-top: -0.5rem;
}

.contain-text {
  padding-left: 2rem;
  width: 44rem;
}

.endtext {
  margin-top: 1rem;
}

.past-events {
  background-color: white;
  /* height: 770px; */
  padding-bottom: 10rem;
}

.past-events .h2-subtitle {
  color: var(--clr-primary-500);
  padding: 4.7rem;
  padding-top: 9rem;
  font-size: 45px;
  font-weight: bold;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card-container h3 {
  color: var(--clr-primary-500);
  padding-top: 2rem;
  font-size: 35px;
}

.where {
  padding-top: 9.5rem;
  padding-bottom: 8.2rem;
}

.where .h2-subtitle {
  color: var(--clr-primary-500);
  margin-bottom: 1.125rem;
}

.where p {
  color: var(--clr-primary-500);
}

.image-center {
  width: 519px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.cafecito {
  position: absolute;
  -ms-grid-column-align: center;
      justify-self: center;
}

.cafecito img {
  -ms-grid-column-align: center;
      justify-self: center;
}

.transform {
  display: none;
}

.slide-in-top {
  display: inline;
  position: absolute;
  -webkit-animation: slide-in-top 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
}

.evento {
  margin: 0 auto;
  width: 1085px;
  padding-top: 10rem;
}

.evento h2 {
  padding: 2rem;
  padding-left: 0;
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
      align-self: left;
}

.evento img {
  width: 100%;
  height: 35rem;
}
/*# sourceMappingURL=styles.css.map */